#
#
# wsadmin/python configuration file.
# Last updated: 01/20/2016.
# Contains all the Node level configuration details.
#
#

# Node names, Use ',' as delimiter. If 'None', all the nodes will be selected by the master script.
NODE_NAME=

# Synchronization type, 'Full' equals force synchronization which nulls the refreshEpoch.
# 'Normal' equals partial or normal synchronization.
# default=Full
SYNC_TYPE=Full

#end_Node.config.