[Connection settings]
threshold.value=120
maximum.connections=6
ping.interval=5
applicationservers.ports=jvm1:9443,jvm2:9445,jvm3:9447
tcp.filename=/proc/net/tcp

[Alerts settings]
enable.logging=1
run.almon=0
suspend.file=suspendfile.txt
logfile.name=almon.log
enable.gcdebug=0

[Email settings]
sender.address=r2d2c3p0@outlook.com

# end_of_almon.config.